include README.md LICENSE CHANGELOG.md pyproject.toml requirements.txt
recursive-include src/wsdp *.py *.json *.yaml

prune docs
prune site
prune img
prune examples
prune tests
prune test_tools
prune scripts
prune benchmarks
prune archive
prune .github

global-exclude __pycache__ *.pyc *.pyo .DS_Store
